/* ::root{ */
/*     --accent: #89cff2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: #89cff2; */
/* } */

* {
  font-family: monospace;
}

window {
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid #89cff2;
  border-radius: 20px;
}

#input {
  margin: 5px;
  border: 0.5px solid #89cff2;
  border-radius: 0px;
  border-radius: 10px;
  background: rgba(33, 33, 90, 0.3);
  color: white;
}

#inner-box {
  background: rgba(33, 33, 90, 0.3);
  border-radius: 10px;
}

#outer-box {
  border-radius: 20px;
  margin: 5px;
  padding: 20px;
  background: rgba(33, 33, 90, 0.3);
}

#scroll {
  border: 0.5px solid #89cff2;
  border-radius: 10px;
}

#text {
  padding: 5px;
  color: white;
}

#entry:nth-child(even) {
  border-radius: 10px;
}

#entry:selected {
  border-radius: 10px;
  background-color: rgba(100, 200, 250, 0.8);
  font-color: black;
}

#text:selected {
}
